# Python-specific
*.pyc
*.pyo
__pycache__/

# Flask instance and configuration files
instance/
*.db

# IDE and editor files
.vscode/
*.swp

# Environment variable file
.env

# Other files
*.log

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
